/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#f3f3f3, #d4d4d4);
  color: #535353;
  min-height: 100vh;
}

.center {
  text-align: center;
}
